/*
GRUPO 1 INTEGRANTES:
- #20021003480 KATTIA VANESSA GONZALES GALVEZ
- #20091012687 JOAQUIN ISAI SALGADO DÁVILA
- #20101010369 SANDRA PRISCILA CUBAS RIVERA
- #20141011708 KENET FRANCISCO ORELLANA MEZA
- #20161003613 OWENN ALEXIS CHAVARRIA RIVERA
*/

/* LAS TABLAS BRANDS Y CATEGORIES SE RELACIONAN CON LA TABLA PRODUCTS Y 
POR ELLO SE CREA EL MODELO COPO DE NIEVE YA QUE ESTAS DOS TABLAS DE DIMENSIÓN
SE RELACIONAN CON LA TABLA DE DIMENSIÓN PRINCIPAL PRODUCTS */

USE [DW_TIENDA_BICICLETAS]
GO
/****** Object:  Table [dbo].[BRANDS]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANDS](
	[BRAND_ID] [int] NOT NULL,
	[BRAND_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [PK_BRANDS] PRIMARY KEY CLUSTERED 
(
	[BRAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMER_ID] [int] NOT NULL,
	[NOMBRE_CUSTOMER] [varchar](100) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](25) NOT NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HECHOS_BICICLETAS]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_BICICLETAS](
	[CODIGO_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[TIEMPO_ID] [date] NOT NULL,
	[TOTAL_VENTA_PRODUCTO] [float] NULL,
 CONSTRAINT [PK_HECHOS_BICICLETAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] NOT NULL,
	[BRAND_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[PRODUCT_NAME] [varchar](255) NOT NULL,
	[MODEL_YEAR] [smallint] NOT NULL,
	[BRAND_NAME] [varchar](255) NOT NULL,
	[CATEGORY_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFS]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFS](
	[STAFF_ID] [int] NOT NULL,
	[NOMBRE_STAFF] [varchar](100) NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
 CONSTRAINT [PK_STAFFS] PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORES]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORES](
	[STORE_ID] [int] NOT NULL,
	[STORE_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [PK_STORES] PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIEMPO]    Script Date: 10/3/2022 08:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIEMPO](
	[TIEMPO_ID] [date] NOT NULL,
	[NOMBRE_MES] [varchar](20) NULL,
	[SEMANA] [int] NULL,
	[TRIMESTRE] [int] NULL,
	[CUATRIMESTRE] [int] NULL,
	[DIA_DE_SEMANA] [varchar](20) NULL,
 CONSTRAINT [PK_TBLTIEMPO] PRIMARY KEY CLUSTERED 
(
	[TIEMPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HECHOS_BICICLETAS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[HECHOS_BICICLETAS]  WITH CHECK ADD FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[HECHOS_BICICLETAS]  WITH CHECK ADD FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFFS] ([STAFF_ID])
GO
ALTER TABLE [dbo].[HECHOS_BICICLETAS]  WITH CHECK ADD FOREIGN KEY([STORE_ID])
REFERENCES [dbo].[STORES] ([STORE_ID])
GO
ALTER TABLE [dbo].[HECHOS_BICICLETAS]  WITH CHECK ADD FOREIGN KEY([TIEMPO_ID])
REFERENCES [dbo].[TBL_TIEMPO] ([TIEMPO_ID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRANDS] ([BRAND_ID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORIES] ([CATEGORY_ID])
GO
